<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect trailing slashes
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle existing files/directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route everything to index.php
    RewriteRule ^ index.php [L]
</IfModule>
